<html>
<head>
    <title>Test POST node.js</title>
</head>
<body>
    <form action="/" method="POST">
        <label>nome
            <input type="text" name="firstname" value="">
        </label>
        <label>cognome</label>
        <input type="text" name="surname">
        <button type="submit">submit</button>
    </form>
</body>
</html>